@page
@using Packt.Shared;
@model Northwind.Web.Pages.CustomersModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1 class="display-2">Customers</h1>
@if (Model.CustomersByCountry is not null)
{
    <div class="accordion" id="accordionCustomersByCountry">
        @foreach (IGrouping<string?, Customer> group in Model.CustomersByCountry)
        {
            string? id = group.Key;

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@id"
                aria-expanded="false" aria-controls="@id">
                        @group.Key has @group.Count() customers
                    </button>
                </h2>
                <div id="@id" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionCustomersByCountry">
                    <div class="accordion-body">
                        <table class="table">
                            <tbody>
                                <thead>
                                    <tr>
                                        <th>Contact Name</th>
                                        <th>Contact Title</th>
                                        <th>Phone</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                @foreach (Customer customer in @group)
                                {
                                    <tr>
                                        <td>@customer.ContactName</td>
                                        <td>@customer.ContactTitle</td>
                                        <td>@customer.Phone</td>
                                        <td><a href="/customerorders?id=@customer.CustomerId">Details</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
}
